body {
  background-color: #e0eeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 2em;
  margin-left: 60px;
  margin-right: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Quicksand", sans-serif;
  color: #5e7e84;
  font-size: 30px;
  margin-bottom: 60px;
}

h4 {
  font-family: "Quicksand", sans-serif;
  color: #b89b76;
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-family: "Quicksand", sans-serif;
  color: #b89b76;
  font-size: 45px;
  margin-bottom: 60px;
  margin-right: 0.5em;
  display: inline-block;
}

header {
  text-align: left;
}

.tagline {
  display: inline-block;
}

h3 {
  font-family: "Quicksand", sans-serif;
  color: #b89b76;
  font-size: 35px;
  margin-bottom: 50px;
}

p {
  font-family: "Quicksand", sans-serif;
  color: #bea380;
  font-size: 20px;
  margin-bottom: 1em;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #b89b76;
}

.options {
  font-family: sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
  border: 4px solid white;
  border-radius: 15px;
  padding: 10px;
  margin-left: 350px;
  margin-right: 350px;
  color: #5e7e84;
}

.selected {
  background: #e9e0d1;
}

.button {
  cursor: pointer;
  background-color: #bea483;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 13px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #a58862;
}
